* {
  box-sizing: border-box;
}

*::after,
*::before,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section,
main,
header,
footer,
svg,
label {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

html {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: $black;
  background-color: $white;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: semi-bold;
  overflow-x: hidden;
  min-width: 375px;
}

section {
  position: relative;
  overflow: visible;
}

img {
  object-fit: cover;
}

button {
  cursor: pointer;
}

input,
textarea {
  background-color: $white;
  color: $black;
}

.container {
  position: relative;
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
